// colors
$color-primary: #000000;
$color-background: #d8eff0;
$color-ui-primary: #fc8490;
$color-ui-secondary: #b0e0a8;

// font
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Roboto", sans-serif;
$font-logo: "Fredoka One", cursive;
