body {
  background-color: $color-background-primary;
}
.page {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: $color-primary;
}
a:hover {
  color: $color-primary;
}
h2 {
  text-align: center;
  font-family: $font-primary;
  margin-top: 30px;
}
