.senderInfo {
  font-family: $font-primary;
  padding: 10px 10px 0px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted $color-ui-primary;
}
.message {
  font-family: $font-secondary;
  max-width: 80%;
  padding: 10px;
}
.messageContainer {
  max-width: 80%;
  margin: 0 auto;
  border: 2px solid $color-ui-primary;
  border-radius: 15px;
  margin-top: 50px;
  padding: 10px;
}
